/* MAIN CONTAINER SECTION AND OTHERS */

#main-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    width: 40rem;
    text-align: left;
    margin: 0;
}

#about, #contact {
    width: 100%;
    color: var(--font-color);
}

h2 {
    text-align: center;
}

/* ABOUT SECTION */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .profile-img {
    width: 15rem;
    height: 15rem;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 1rem;
    width: 80%;
    height: 100vh;
}

.about-box p {
    width: 20rem;
}

.description {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

/* CONTACT SECTION */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1rem;
    width: 80%;
    height: 100vh;
}
