/* MAIN CONTAINER SECTION AND OTHERS */

#main-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.section-title {
    width: 40rem;
    text-align: left;
    margin: 0;
}

#about, #contact {
    width: 100%;
    color: var(--font-color);
}

h2 {
    text-align: center;
}

/* ABOUT SECTION */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .profile-img {
    width: 15rem;
    height: 15rem;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(221,207,229,0) 0%, rgba(226,235,196,0.8653962805825455) 25%, rgba(226,235,196,1) 50%, rgba(226,235,196,0.8681974010307247) 75%, rgba(181,193,142,0) 100%);
    padding: 2.5rem 1rem;
    width: 80%;
    height: 100vh;
}

.about-box p {
    width: 20rem;
}

.description {
    display: flex;
}

/* CONTACT SECTION */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(54,109,124,0) 0%, rgba(243,234,248,0.870998521478904) 25%, rgba(243,234,248,1) 50%, rgba(243,234,248,0.8653962805825455) 75%, rgba(54,109,124,0) 100%);
    padding: 2.5rem 1rem;
    width: 80%;
    height: 100vh;
}
