/* PORTFOLIO SECTION AND OTHERS */

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--font-color);
}

.projects {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 1rem;
    background: radial-gradient(var(--bg-darker),var(--bg-darkerr), var(--bg-darkerrr), #9198e500, #9198e500); 
}

.box {
    position: relative;
    width: 12rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem 10rem 0 0;
    border: .3rem solid rgb(255, 255, 255);
    overflow: hidden;
    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
    transition: .5s;
}

.box img:hover {
    scale: 1.1;
}

.box h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .8rem;
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.3rem);
}

.box-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
    border-bottom: 5rem solid rgb(98, 66, 25);
}
