/* HEADER SECTION */

#header {
    margin: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-box a {
    text-decoration: none;
    color: var(--font-color);
    transition: .3s;
}

.header-box a:hover {
    color: rgb(102, 40, 110);
}

.color-line {
  width: 100%;
  height: .5rem;
  background: var(--title-border-gr);
}


.header-box {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h3 {
    text-transform: uppercase;
    padding-bottom: .2REM;
    padding-left: .6REM;
    border-left: .15REM SOLID var(--title-border);
    text-align: center;
    letter-spacing: .13rem;
    cursor: pointer;

}

/* NAVIGATION SECTION */

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.nav-links a {
    padding: .1REM;
    border-bottom: .1REM SOLID transparent;
    transition: .4s;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.05rem;
    text-decoration: none;
    color: var(--font-color);
}

.nav-links a:hover {
    border-bottom: .1REM SOLID var(--title-border);
}
