:root {
  --title-border-gr: linear-gradient(90deg, #B5C18E, #F8EDED);
  --title-border: #B5C18E;
  --font-color: #173B45;
  --bg-light: #f3eaf8;
  --bg-darker: #ddcfe5;
  --bg-white: #FFE6E6;
  --color-line: #7469B6;
  --pink: #E1AFD1;
}

#root {
  width: 100%;
  margin: 0 auto;

}

body {
  margin: 0rem;
  background-color: #F8EDED;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto';
}
